#sortable { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    width: 25%; 
}
#sortable li { 
        margin: 0 3px 3px 3px; 
        padding: 0.4em;
        font-family: 'Courier New';
}
