textarea{
    width: 100%;
}

#sortable { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    width: 25%; 
}
#sortable li { 
        margin: 0 3px 3px 3px; 
        padding: 0.4em;
        font-family: 'Courier New';
        border-radius: 10px;
        text-align: center;
        width: max-content;
        background-color: white;
        box-shadow: 2px 2px;
}

#feedback{
    color: red;
    font-weight: bold;
}